doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
  body
    block content
  
    
